@page "/player/{Username}"

@inject PlayerStatsService statsService
@inject CurrentUserService currentUserService

@if (this.playerExists)
{
<div>
    <h3>@this.Username info</h3>
    <a href="/Identity/Account/Manage"> Profile settings</a>
</div>

    <ul>
        <li>Joined: @this.playerStats.RegistrationDate.ToLocalTime().ToShortDateString()</li>
        <li>Games finished: @this.playerStats.GamesFinished</li>
        <li>Games left: @this.playerStats.GamesLeft</li>
        <li>Games placed first: @this.playerStats.GamesWon</li>
        <li>Games placed last: @this.playerStats.GamesPlacedLast</li>
    </ul>
}
else
{
    <h3>Player with given username doesn't exist!</h3>
}

@code {
    [Parameter]
    public string Username { get; set; }

    private bool playerExists = true;
    private Data.PlayerStats playerStats;

    protected override void OnInitialized()
    {
        this.playerStats = this.statsService.GetPlayerStatsByUsername(this.Username);
        this.playerExists = this.playerStats != null;

        this.StateHasChanged();
        base.OnInitialized();
    }
}
