@page "/rooms/{RoomId}"

@using LanternCardGame.Pages.Components
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

@implements IDisposable
@attribute [Authorize]

@inject GameRoomsService roomsService
@inject NavigationManager navManager
@inject CurrentUserService userService
@inject GameService gameService
@inject NotifyService notifyService

@if (this.room != null)
{
    <Title Value="@($"Room {this.room.Name}")"></Title>

    var isOwner = this.room?.OwnerId == this.userService.UserId;

    <h3>Room @this.room?.Name</h3>
    <p>@this.room?.PlayerCount / @this.room?.MaxPlayers</p>

    <div class="font-weight-bold">Players:</div>
    <ul class="list-group list-group-flush mb-3">
        @foreach (var player in room?.Players ?? new PlayerModel[0])
        {
            <li class="list-group-item">
                @player.Username
                @if (this.room?.OwnerId == player.Id)
                {
                    <img src="/img/crown.png" width="20" height="20" class="ml-2" title="Host" />
                }
            </li>
        }
    </ul>

    <div id="status" class="mt-4 mb-3 p-2 rounded border text-info">
        <span class="oi oi-info mr-1"></span> @this.status
    </div>

    <div class="mb-3">
        @if (isOwner)
        {
            <button class="btn btn-outline-success mr-2"
                    disabled="@(this.room?.PlayerCount < this.room?.MaxPlayers)"
                    @onclick="this.StartGame">
                Start Game
            </button>
            <button class="btn btn-outline-primary mr-2"
                    disabled="@(!(this.room?.PlayerCount < this.room?.MaxPlayers))"
                    @onclick="this.ToggleInviteFriends">
                Invite Friends
            </button>
            <button class="btn btn-outline-danger"
                    @onclick="() => this.DeleteRoom()">
                Delete Room
            </button>

            @if (this.inviteToggle)
            {
                <div id="invite-list" class="@(this.inviteToggle ? null : "d-none") p-2 position-fixed rounded shadow">
                    <div class="oi oi-x w-100 text-right mb-3 text-danger" @onclick="this.ToggleInviteFriends"></div>
                    <FriendInviteList RoomId="@this.RoomId"
                                      UserId="@this.userService.UserId"
                                      Username="@this.userService.Username" />
                </div>
            }
        }
        else
        {
            if (this.roomsService.IsPlayerInTheRoom(this.userService.InstanceId, this.RoomId))
            {
                <button class="btn btn-outline-warning" @onclick="() => this.LeaveRoom()">Leave Room</button>
            }
            else
            {
                <button disabled=@(this.room.PlayerCount < this.room.MaxPlayers ? false : true)
                        class="btn btn-outline-success"
                        @onclick=" () => this.JoinRoom()">
                    Join Room
                </button>
            }
        }
    </div>
    <br />

    if (this.roomsService.IsPlayerInTheRoom(this.userService.InstanceId, this.RoomId))
    {
        <div id="chat">
            <ChatComponent RoomId="@this.RoomId" />
        </div>
    }

    @*<div class="text-light">Navigatin elsewere will @(this.room.OwnerId == this.userService.UserId ? "delete" : "make you leave") the room!</div>*@
}

@code {
    [Parameter]
    public string RoomId { get; set; }

    public ChatInputModel chatModel = new ChatInputModel();
    private GameRoomModel room;
    private string status = string.Empty;
    private ICollection<string[]> subscriptionsInfo = new HashSet<string[]>();
    private bool inviteToggle = false;

    protected override void OnInitialized()
    {
        this.room = this.roomsService.GetRoom(this.RoomId);
        if (this.room == null || (this.room != null && this.room.InGame))
        {
            this.navManager.NavigateTo("/rooms", true);
        }

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            base.OnAfterRender(firstRender);
            return;
        }

        if (!this.roomsService.IsPlayerInTheRoom(this.userService.InstanceId, this.RoomId))
        {
            this.notifyService.AddToGroup(this.userService.InstanceId, this.RoomId);
        }

        this.subscriptionsInfo.Add(this.notifyService.Subscribe(this.userService.InstanceId, "RefreshRoom", async () => await RefreshRoomAsync()));
        this.subscriptionsInfo.Add(this.notifyService.Subscribe(this.userService.InstanceId, "RoomDeleted", this.Deleted));
        this.subscriptionsInfo.Add(this.notifyService.Subscribe(this.userService.InstanceId, "GameStarting", () => this.navManager.NavigateTo($"/game/{this.RoomId}")));
        await this.RefreshRoomAsync();
        await base.OnAfterRenderAsync(firstRender);
    }

    public void Deleted()
    {
        this.navManager.NavigateTo("/rooms");
    }

    public void StartGame()
    {
        this.roomsService.StartGame(this.RoomId);
        this.gameService.StartGame(this.RoomId);
    }

    public void JoinRoom()
    {
        this.roomsService.AddPlayerToRoom(this.userService.UserId, this.RoomId);
        this.StateHasChanged();
    }

    public void DeleteRoom(bool navigate = true)
    {
        this.roomsService.DeleteRoom(this.RoomId);
        this.room = this.roomsService.GetRoom(this.RoomId);
        if (navigate)
        {
            this.navManager.NavigateTo("/rooms");
        }
    }

    public void LeaveRoom(bool navigate = true)
    {
        this.roomsService.RemovePlayerFromRoom(userService.UserId, this.RoomId);
        if (navigate)
        {
            this.navManager.NavigateTo("/rooms");
        }
    }

    public async Task RefreshRoomAsync()
    {
        this.room = this.roomsService.GetRoom(this.RoomId);
        if (this.room.PlayerCount < this.room.MaxPlayers)
        {
            this.status = "Not enought players to start the game.";
        }
        else if (this.room.OwnerId == this.userService.UserId)
        {
            this.status = "Ready to start!";
        }
        else
        {
            this.status = "Waiting for host to start the game.";
        }

        await this.InvokeAsync(this.StateHasChanged);
    }

    private void ToggleInviteFriends()
    {
        this.inviteToggle = !this.inviteToggle;
        //this.StateHasChanged();
    }

    public void Dispose()
    {
        foreach (var subscriptionInfo in this.subscriptionsInfo)
        {
            this.notifyService.Unsubscribe(subscriptionInfo[0], subscriptionInfo[1]);
        }

        this.room = this.roomsService.GetRoom(RoomId);
        if (room != null && !this.room.InGame)
        {

            if (!this.roomsService.IsPlayerInTheRoom(this.userService.InstanceId, this.RoomId))
            {
                this.notifyService.RemoveFromGroup(this.userService.InstanceId, this.RoomId);
            }
            if (this.userService.UserId == this.room.OwnerId)
            {
                this.DeleteRoom(false);
            }
            else
            {
                this.LeaveRoom(false);
            }
        }
    }
}
