@page "/user/{Username}"

@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@using LanternCardGame.Pages.Components
@using LanternCardGame.Data

@attribute [Authorize]
@inject PlayerStatsService statsService
@inject CurrentUserService currentUserService
@inject UserService userService
@inject FriendsService friendsService
@inject NotificationService notificationService
@inject NotifyService notifyService
@inject OnlinePlayersService playersService
@inject NavigationManager navigationManager

@if (this.playerExists)
{
    var ownPage = this.currentUserService.Username.ToLower() == this.Username.ToLower();
    <Title Value="@($"{this.Username} info")"></Title>

    <div id="top" class="d-flex justify-content-between mb-3">
        @if (ownPage)
        {
            <h2>My profile</h2>
            <button class="btn btn-outline-primary"
                    @onclick='() => this.navigationManager.NavigateTo("/Identity/Account/Manage", true)'>
                <span class="oi oi-wrench"></span>
                Profile settings
            </button>
        }
        else
        {
            <h2>@this.Username info</h2>
            <button class="btn @(this.areFriends ? "btn-outline-success" : "btn-outline-primary")"
                    @onclick='async () => await this.SendFriendRequest()'
                    disabled="@(this.areFriends || this.requestSent)">
                <span class="oi @(this.areFriends || this.requestSent ? "oi-check" : "oi-plus")"></span>
                @(this.areFriends ? "Friends" : (this.requestSent ? "Friend request sent" : "Send friend request"))
            </button>
        }
    </div>

    var gamesFinishedPercentage = (((double)this.playerStats.GamesFinished / this.playerStats.GamesStarted) * 100.0).ToString("F2");
    var gamesLeftPercentage = (((double)this.playerStats.GamesLeft / this.playerStats.GamesStarted) * 100.0).ToString("F2");
    var placedFirstPercentage = (((double)this.playerStats.GamesWon / this.playerStats.GamesFinished) * 100.0).ToString("F2");
    var placedLastPercentage = (((double)this.playerStats.GamesPlacedLast / this.playerStats.GamesFinished) * 100.0).ToString("F2");

    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">
            Joined: @this.playerStats.RegistrationDate.ToLocalTime().ToShortDateString()
        </li>
        <li class="list-group-item">
            Games started: @this.playerStats.GamesStarted
        </li>
        <li class="list-group-item">
            Games finished: @this.playerStats.GamesFinished @(this.playerStats.GamesFinished > 0 ? $"({gamesFinishedPercentage}%)" : null)
        </li>
        <li class="list-group-item">
            Games left: @this.playerStats.GamesLeft @(this.playerStats.GamesLeft > 0 ? $"({gamesLeftPercentage}%)" : null)
        </li>
        <li class="list-group-item">
            Games placed first: @this.playerStats.GamesWon @(this.playerStats.GamesWon > 0 ? $"({placedFirstPercentage}%)" : null)
        </li>
        <li class="list-group-item">
            Games placed last: @this.playerStats.GamesPlacedLast @(this.playerStats.GamesPlacedLast > 0 ? $"({placedLastPercentage}%)" : null)
        </li>
    </ul>

    if (ownPage)
    {
        <Friends Username="@this.Username" />
    }
}
else
{
    <h3 class="text-danger">Player doesn't exist!</h3>
}

@code {
    [Parameter]
    public string Username { get; set; }

    private bool playerExists = true;
    private PlayerStats playerStats;
    private bool areFriends = false;
    private bool requestSent = false;

    protected override void OnParametersSet()
    {
        this.UpdatePlayerStats();
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        this.UpdatePlayerStats();
        base.OnInitialized();
    }

    private void UpdatePlayerStats()
    {
        this.playerStats = this.statsService.GetPlayerStatsByUsername(this.Username);
        this.playerExists = this.playerStats != null;
        if (this.playerExists && this.currentUserService.Username.ToLower() != this.Username.ToLower())
        {
            this.requestSent = this.friendsService.CheckRequestExists(this.currentUserService.Username, this.Username);
            this.areFriends = this.friendsService.CheckFriendsByUsername(this.currentUserService.Username, this.Username);
        }

        this.StateHasChanged();
    }

    private async Task SendFriendRequest()
    {
        var reciever = await this.userService.GetUserByUsernameAsync(this.Username);
        await this.friendsService.SendFriendRequestAsync(this.currentUserService.UserId, reciever?.Id);
        if (this.playersService.IsPlayerOnline(reciever.Id))
        {
            var instanceId = this.playersService.GetPlayerById(reciever.Id).InstanceId;
            this.notificationService.AddPlayerNotification(instanceId, $"New friend request received from {this.currentUserService.Username}!", category:  "FriendRequest");
            this.notifyService.InvokeByPlayer(instanceId, "ReceiveNotification");
            this.notifyService.InvokeByPlayer(instanceId, "FriendRequest");
        }

        this.requestSent = true;
        this.StateHasChanged();
    }
}
