@using Enums

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Lantern Card Game <span class="badge badge-info">ALPHA</span></a>
    <button class="navbar-toggler position-relative" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
        @if (this.FriendRequests > 0 && this.NavMenuCssClass == "collapse")
        {
            <span class="navbar-badge badge badge-danger position-absolute">@this.FriendRequests</span>
        }
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (this.ShowNavMenu)
        {
            <AuthorizeView>
                <Authorized>
                    @if (this.Player != null)
                    {
                        if (this.Player.PlayerStatus == PlayerStatus.InRoom)
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="">
                                    <span class="oi oi-x" aria-hidden="true"></span> Leave Room
                                </NavLink>
                            </li>
                        }
                        else if (this.Player.PlayerStatus == PlayerStatus.InGame)
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="">
                                    <span class="oi oi-x" aria-hidden="true"></span> Leave Game
                                </NavLink>
                            </li>
                        }
                        else if (this.Player.PlayerStatus == PlayerStatus.Free)
                        {
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="rooms/create">
                                    <span class="oi oi-plus" aria-hidden="true"></span> Create New Room
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="rooms" Match="NavLinkMatch.All">
                                    <span class="oi oi-list" aria-hidden="true"></span> Browse Rooms
                                </NavLink>
                            </li>


                            @if (this.InvitesCount > 0)
                            {
                                <li class="nav-item px-3 mt-4">
                                    <NavLink class="nav-link" href="/user/invites">
                                        <span class="oi oi-warning" aria-hidden="true"></span> Game Invites
                                        <span class="badge badge-danger ml-2">@this.InvitesCount</span>
                                    </NavLink>
                                </li>
                            }
                            <li class="nav-item px-3 mt-4">
                                <NavLink class="nav-link" href=@($"/user/{context.User.Identity.Name}")>
                                    <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name
                                    @if (this.FriendRequests > 0)
                                    {
                                        <span class="badge badge-danger ml-2">@this.FriendRequests</span>
                                    }
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <form method="post" action="Identity/Account/LogOut" style="cursor: pointer;">
                                    <NavLink class="nav-link" onclick="this.parentNode.submit()">
                                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                                    </NavLink>
                                </form>
                            </li>
                        }
                    }
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/LogIn">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/Register">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        }
        else
        {
            <li class="nav-item px-3">
                <form method="post" action="Identity/Account/LogOut" style="cursor: pointer;">
                    <NavLink class="nav-link" onclick="this.parentNode.submit()">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </form>
            </li>
        }
    </ul>

    @if (ShowNavMenu && OnlinePlayers.Count > 0)
    {
        <div class="online-players ml-3">
            <p>Online players</p>
            <ul class="online-players-list list-unstyled">
                @foreach (var player in OnlinePlayers)
                {
                    var status = player.PlayerStatus switch
                    {
                        PlayerStatus.InGame => "Player is in a game.",
                        PlayerStatus.InRoom => "Player is in a room.",
                        //PlayerStatus.Inactive => "Player may be disconnected.",
                        _ => "Player is free."
                    };
                    <li class="online-player" title=@status>
                        <span class="player-status @(player.PlayerStatus.ToString().ToLower())"></span>
                        @player.Username
                        <a class="player-info" href=@($"/user/{player.Username}") title="Go to user info.">
                            <span class="oi oi-info"></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>

@code {
    [Parameter]
    public bool ShowNavMenu { get; set; }

    [Parameter]
    public ICollection<PlayerModel> OnlinePlayers { get; set; }

    [Parameter]
    public int InvitesCount { get; set; }

    [Parameter]
    public PlayerModel Player { get; set; }

    [Parameter]
    public int FriendRequests { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
